---
import MainLayout from "../layouts/mainLayout.astro";
import Link from "../components/link.astro";

import sm from "../data/sm.json";
---

<MainLayout>
	<header
		class="my-2 px-8 py-50 rounded-sm bg-[url(img/banner.jpg)] bg-center bg-no-repeat bg-cover bg-fixed"
	>
		<div
			class="backdrop-blur-xl backdrop-brightness-25 p-10 rounded-sm neon-blue"
		>
			<h1 class="text-2xl font-bold md:text-4xl title">Hello, world!</h1>

			<p class="text-xl text-justify md:text-2xl">
				I was a normal kiddo like you, but once day an radioactive HP
				computer with Windows 98 bitted me, and then I'm wirdo... My
				major canonic event was look my Nintendo DS die with own eyes
				after "unlock it".
			</p>
		</div>
	</header>

	<article class="p-4 my-6 bg-black/20 rounded-sm neon-blue">
		<header class="p-4 mb-4 rounded-sm">
			<h1 class="text-2xl font-bold md:text-4xl title">
				<i class="bi bi-link"></i> Links
			</h1>
		</header>

		<div class="grid auto-rows-max md:grid-cols-2 my-2 gep-2 md:gap-4">
			{
				sm.map((item) => (
					<Link name={item.name} icon={item.icon} link={item.link} />
				))
			}
		</div>
	</article>
</MainLayout>
