---
const { name, icon, link } = Astro.props;
---

<a
    href={link}
    class="text-center rounded-sm text-lg p-5 md:text-2xl
    transition ease-in duration-250 neon-button"
>
    <i class=`bi bi-${icon}`></i>
    {name}
</a>
