@import url("./globals.css");

.content-info{
    justify-content: center;
    text-align: center;

    & .cover{
        margin: 0px 0px 5vh 0px;
        width: 15vw;
    }
}


.div-title{
    text-align: center;
}

.div-controls1{
    display: flex;
    flex-wrap: nowrap;
}