*{
    animation: normal 1s appear;
}

nav img{
    border-radius: 5px;
    width: 5rem;
}


#Projects a{
    width: 100%;
}


@keyframes appear{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}