---
import AppBar from "../components/appBar.astro";
import TopButton from "../components/topButton.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>MayorTom4815</title>
    </head>
    <body class="bg-black text-white" id="top">
        <div class="fixed top-0 left-0 size-full bg-black/60 z-[-1]"></div>
        <AppBar />
        <main class="mx-4 md:mx-6">
            <slot />
        </main>
        <TopButton />
    </body>

    <style>
        body {
            background: fixed url("/img/background.gif");

        }
    </style>
</html>
